.bg-verde {
  background-color: #4c7031;
}

.bg-amarelo {
  background-color: #f2ae00;
}
.bg-laranja {
  background-color: #ff7700;
}

.cards-plantas,
.imagem-planta {
  text-align: center;
}
.cards-plantas {
  padding: 0;
  width: 48%;
  height: 48%;
  margin: 1vw;
}

.links {
  color: rgb(48, 46, 46);
  text-decoration: none;
}
.bloco-categoria {
  margin-bottom: 80px;
}

.bg-imagem-home {
  background-image: url("https://imagens-revista.vivadecora.com.br/uploads/2018/05/tipos-de-flores-ant%C3%BArio.jpg");
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-titulo-home {
  color: rgb(233, 233, 233);
  text-align: center;
  position: bottom;
  padding-top: 50%;
}
