.bg-verde {
  background-color: #4c7031;
}

.bg-amarelo {
  background-color: #f2ae00;
}
.bg-laranja {
  background-color: #ff7700;
}

.cards-plantas,
.imagem-planta {
  text-align: center;
}
.cards-plantas {
  padding: 0;
  width: 48%;
  height: 48%;
  margin: 1vw;
}

.links {
  color: rgb(48, 46, 46);
  text-decoration: none;
}
.bloco-categoria {
  margin-bottom: 80px;
}

.bg-imagem-home {
  background-image: url("https://imagens-revista.vivadecora.com.br/uploads/2018/05/tipos-de-flores-ant%C3%BArio.jpg");
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-titulo-home {
  color: rgb(233, 233, 233);
  text-align: center;
  position: bottom;
  padding-top: 50%;
}
/* Plant.js */
.plantaimg {
  /* background-image: url(https://1.bp.blogspot.com/-LCF3CsNYO8c/W74WSRS96-I/AAAAAAAAicA/EJelgXWJ3GYEVB2arxYMOQ5Lxb96TnE_wCLcBGAs/s1600/Caladiums.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  width: 375px;
  height: 314px;
}
.plantCardInfo {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}
.mainInputTitulo {
  font-size: 28px;
}
.mainInputSubtitulo {
  font-size: 18px;
}
.plantaBox {
  width: 307px;
  height: auto;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 0 auto;
}
.plantNameBox {
  background: #d8d8d8;
  border-color: grey;
  opacity: 40%;
}
.marg-b {
  margin-bottom: 80px;
}
